<div>

  <div class="container-incript">
    <div class="container-incript-input">
      <input class="incript-input" type="text" name="" id="">
    </div>
    <div class="container-incript-input">
      <input class="incript-input" type="text" name="" id="">
    </div>
  </div>

  <div class="container-btn">
    <div>
      <button class="btn">
        <span>INCRIPTAR</span>
      </button>
    </div>
    <div>
      <button class="btn">
        <span>INCRIPTAR</span>
      </button>
    </div>
  </div>


  <div class="container-input">
    <div>
      <input class="checkbox" type="checkbox" name="" id="">
      <label>Tales</label>
    </div>
    <div>
      <input class="checkbox" type="checkbox" name="" id="">
      <label>Tales</label>
    </div>
    <div>
      <input class="checkbox" type="checkbox" name="" id="">
      <label>Tales</label>
    </div>
  </div>
</div>